*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    color: #e6686a;
  }
}

li {
  list-style-type: none;
}

body {
  background-color: @background-color;
  font-family: "Arial", "Microsoft YaHei", sans-serif;
}

.noscroll,
.noscroll body {
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
}

button {
  padding: 7px 14px;
  border: 1px solid @border-gray;
  background: @background-color;
  outline: none;
  transition: all 0.3s;
  color: #464D59;
  border-radius: 2px;

  &:hover {
    box-shadow: @button-shadow;
  }
}
