  .nothing-msg {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding-top: 100px;
    padding-bottom: 130px;
    // text-decoration: underline;
    .icon-kong {
      font-size: 60px;
    }
    &.nothing-msg1 span{
      cursor: pointer;
      &:hover{
        color: @demo-green;
        text-decoration: underline;
      }
    }
  }